---
title: The First Principles Blog
---

%section.blog
  - if paginate && num_pages > 1
    %p= "Page #{page_number} of #{num_pages}"
    - if prev_page
      %p= link_to 'Previous page', prev_page
  %div.wrap
    %h2.title Articles
    - page_articles.each do |article|
      %article.post
        %section.post-content
          %h3.title= link_to article.title, article
          %h4.date= article.date.strftime('%B %e, %Y')
          %div.content= article.data.excerpt
          %footer.more
            = link_to "Read More &raquo;", article

  - if paginate && next_page
    %p= link_to 'Next page', next_page
