%section.banner
  %div.wrap
    %img{src: "images/caudill-stephen-wide.jpg"}

%section.structural
  %div.wrap
    %aside.content-aside.welcome
      %h2 Welcome

    %section.about-content
      %h3 Hi, I'm Stephen Caudill
      %p
        I've been building the web since the first dot com rally. I am a
        programming language polyglot with a special fondness for
        = succeed '.' do
          %a{href: "https://en.wikipedia.org/wiki/Functional_programming"}<
            functional approaches
        I love working on
        = succeed ',' do
          %a{href: "https://www.jimcollins.com/article_topics/articles/BHAG.html"}<
            Big Hairy Audacious Goals
        am an avid
        = succeed ',' do
          %a{href: "https://en.wikipedia.org/wiki/Servant_leadership"}<
            Servant Leader
        and think that what you don't build might be more important than what
        you do. Have a look around and please do
        %a{href: "mailto:hello@stephencaudill.com"} reach out
        and say hi.

%section.structural
  %div.wrap
    %aside.content-aside
      %h2 From the Blog

    %section.subsection.articles
      %h3 Recent Articles
      %ul
        - blog.articles[0...3].each do |article|
          %li
            %a{href: article.url}= article.title
            %time= article.date.strftime('%B %e, %Y')

    %section.subsection.categories
      %h3 Recent Categories
      %ul
        - blog.articles[0...3].map{|article| article.tags }.flatten.uniq.sort.each do |tag|
          %li= link_to tag, tag_path(tag)

